body {
	font-family: Arial, Helvetica;
	font-size: 16px;
	color: #343434;

}


#header {
	background-color: #FFFFFF;
	border-bottom: 2px solid #F7F7F7;
	margin-bottom: 10px;
	padding-top: 36px;
	padding-bottom: 36px;
}
#header ul li{
  	display: inline;
 	margin-right: 25px;
}
#header ul {
	margin: 0;
	padding: 0;
	width: 75%;
	margin: 0px auto;
}

#main {
	width: 96.5%;
	margin:auto;
	background-color: #FFFFFF;
}
#section_top {
	display: flex;
	flex-direction: row;

}

#section_bottom {
	display: flex;
	flex-direction: column;
}

	#general {
		margin-left: auto;
		margin-right: auto;
		width: 590px; /*630-20*2*/
		height: 291px;
		background-image: url("assets/bg@1x.png");
		border-radius: 16px 16px 16px 16px;
		
		display: flex;
		flex-direction: row;
		padding: 20px;
		

	}
		#current_brief {
			display: flex;
			flex-direction: column;
			
		}
		#current_brief h3 {
			font-size: 1.625rem;
			margin-top: 7px;
			margin-bottom: 6px;
		}
		#gen_status {
			font-size: 0.875rem;
			color: #666666;
			margin-top: 0px;
			margin-bottom: 25px;
		} 
		#gen_weather {
			display: flex;
			flex-direction: row;
		}


		.column_head {
			color: #9D9D9B;
			font-size: 0.875rem;
			margin-bottom: 5px;

		}
		.column_body {
			color: #333333;
			font-size: 2.25rem;
			font-weight: bold;
		}
		.gen_weather_column {
			margin-right: 16px ;

		}
		#wheather_icon {
			background-image: url("assets/cloud-drizzle.png");
			
			width: 26px;
			height: 26px;
		}
		.weather_buff:after{
			content: url("assets/cloud-drizzle.png");
		}

	
		

		#all_devices_wrapper {
			margin-left: auto;
			width: 200px;
			overflow-y: hidden;
			overflow-x: hidden;
			position: relative;
			height: 291px;
			/*height: 291px;*/
		}
		



		#all_devices {
			display: flex;
			flex-direction: column;

			
			overflow-y: scroll;
			width: 217px;
			height: 291px;
			position: relative;
			
		}
		.btn_scroll {
			position: absolute;
			z-index: 2;
			bottom: 8px;
			height: 16px;
			width: 16px;
			left: calc(50% - 8px);
		}
		.scroll_top {
			top: 8px;
			transform: rotate(180deg);
		}
		.btn_scroll:focus {
			outline: none;
		}

		.dev_card {
			width: 172px;/*-14*2px padding*/
			height: 92px;
			min-width:172px;
			background-color: #F7F7F7;
			border-radius: 15px;
			padding: 14px;

			margin-bottom: 16px;
			margin-right: 14px;
			cursor: pointer;
		}
		.dev_card input {
			display: none;	
		}
		.dev_card:hover {
			background-color:#FFFFFF;
			box-shadow: 0 0 10px #F6F4F4;
		}
		#fav_devices .dev_card {
			margin-bottom: 0px;
		}
		.dev_card_inner_wrapper {
			height: 92px;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
		}
	




			.pic {
				width: 24px;
				height: 24px;
				margin-bottom: auto;
				
			}
			.nam {

				font-size: 0.875rem;
				font-weight: bold;
				color: #353535;

				-webkit-user-select: none;
				-moz-user-select: none;     /* Firefox all */
				-ms-user-select: none;      /* IE 10+ */
				user-select: none;	
			}
			.modal_nam {
				font-size: 1.5rem;
				font-weight: bold;
				color: #333333;
				margin-bottom: 7px;
			}
			.modal_status {
				color: #C2C2C2;
				font-size: 0.75rem;
			}
			.modal_pic {
				width: 48px;
				height: 48px;
				#margin-bottom: auto;
			}
			
			.modal_pic_t_off {
				background-image: url("assets/icon_temperature@2x.png");
			}
			.modal_pic_t_on {
				background-image: url("assets/icon_temperature_2@2x.png");
			}
			.modal_pic_s_off {
				background-image: url("assets/icon_sun@2x.png");
			}
			.modal_pic_s_on {
				background-image: url("assets/icon_sun_2@2x.png");
			}
			.modal_value {
				font-size: 2.25rem;
				font-weight: bold;
				margin:auto 0;
				color: #262626;

				-webkit-user-select: none;
				-moz-user-select: none;     /* Firefox all */
				-ms-user-select: none;      /* IE 10+ */
				user-select: none;	
			}



			.status {
				font-size: 0.6875rem;
				color: #A8A8A8;
				
				-webkit-user-select: none;
				-moz-user-select: none;     /* Firefox all */
				-ms-user-select: none;      /* IE 10+ */
				user-select: none;
			}
			
			.pic_t_off {
				background-image: url("assets/icon_temperature@1x.png");
				background-image: 
	    			-webkit-image-set(
	      				url("assets/icon_temperature@1x.png") 1x,
	      				url("assets/icon_temperature@2x.png") 2x
	    			);
	  			background-image: 
	    			image-set(
	      				url("assets/icon_temperature@1x.png") 1x,
	      				url("assets/icon_temperature@2x.png") 2x
	    			);
			}
			.pic_t_on {
				background-image: url("assets/icon_temperature_2@1x.png");
				background-image: 
	    			-webkit-image-set(
	      				url("assets/icon_temperature_2@1x.png") 1x,
	      				url("assets/icon_temperature_2@2x.png") 2x
	    			);
	  			background-image: 
	    			image-set(
	      				url("assets/icon_temperature_2@1x.png") 1x,
	      				url("assets/icon_temperature_2@2x.png") 2x
	    			);
			}
			.pic_s_off {
				background-image: url("assets/icon_sun@1x.png");
				background-image: 
	    			-webkit-image-set(
	      				url("assets/icon_sun@1x.png") 1x,
	      				url("assets/icon_sun@2x.png") 2x
	    			);
	  			background-image: 
	    			image-set(
	      				url("assets/icon_sun@1x.png") 1x,
	      				url("assets/icon_sun@2x.png") 2x
	    			);
			}
			.pic_s_on {
				background-image: url("assets/icon_sun_2@1x.png");
				background-image: 
	    			-webkit-image-set(
	      				url("assets/icon_sun_2@1x.png") 1x,
	      				url("assets/icon_sun_2@2x.png") 2x
	    			);
	  			background-image: 
	    			image-set(
	      				url("assets/icon_sun_2@1x.png") 1x,
	      				url("assets/icon_sun_2@2x.png") 2x
	    			);
			}
			.pic_time {
				background-image: url("assets/icon_scheduled@1x.png");
			}
#fav_scenarios_wrapper {
	margin-left: 25px;


}
#section2_bottom {
	margin-top:13px;
}	

	#fav_scenarios {
		display: grid;
		grid-template-columns: 200px 200px 200px;
		grid-template-rows: 100px 100px 100px;
		grid-gap: 15px;
		min-width: 215px;
		height: 331px;
		overflow-y: hidden;
		overflow-x: hidden;
	}
		.scenario_card {
			background-color: #F7F7F7;
			width: 172px;
			height: 72px;
			border-radius: 15px;
			padding: 14px;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			cursor: pointer;
		}
		.scenario_card:hover {
			background-color:#FFFFFF;
			box-shadow: 0 0 10px #F6F4F4;
		}

	#fav_devices_top {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		position: relative;
	}
	#fav_dev_groups {
		margin: auto 0;
		margin-left: 14px;
		display: flex;
		flex-direction: row;
		
	}
	#fav_dev_groups label{
    	cursor: pointer;
    	background-color: #F7F7F7;
    	padding: 10px 15px;
    	border-radius: 15px;
    	font-size: 0.75rem;
    	font-weight: bold;
    	margin-right: 6px;

    	-webkit-user-select: none;
		-moz-user-select: none;     /* Firefox all */
		-ms-user-select: none;      /* IE 10+ */
		user-select: none;

	}
	#fav_dev_groups input:checked + label {
    	background: #FFD93E;
	}
	#fav_dev_groups input {
		display: none;
	}
#modal_body {
	margin-top: 5px;
}
	.temp_bulb_radios {
		margin: auto 0;
		margin-bottom: 30px;

		width: auto;

	}
	.temp_bulb_radios input {
		display: none;
	}
	.temp_bulb_radios input:checked + label {
    	background: #FFD93E;
	}
	.temp_bulb_radios label{
    	cursor: pointer;
    	background-color: #F7F7F7;
    	padding: 8px 15px;
    	border-radius: 15px;
    	font-size: 0.75rem;
    	font-weight: bold;
    	margin-right: 6px;

    	-webkit-user-select: none;
		-moz-user-select: none;     /* Firefox all */
		-ms-user-select: none;      /* IE 10+ */
		user-select: none;

	}


	.scroll_control {
		margin: auto 0;
	}
	#fav_scenarios_top {
		display: flex;
		flex-direction: row;

	}


	.right {
		transform: rotate(180deg);
		margin-left: 14px;
	}
	.margin-left-auto {
		margin-left: auto;
	}

	#fav_devices {
		display: flex;
		flex-direction: row;
		overflow-x: scroll;
		
		height: 140px;

		
	}
	#fav_dev_wrapper {
		height: 120px;
		overflow: hidden;
		
		
	}

#footer {
	#border-top: 1px solid #F0F0F0;
	font-size: 0.75rem;
	width: 96.5%;
	margin:auto;
}
#footer ul li{
  	display: inline;
 	margin-right: 13px;
 	
}
#footer ul {
	margin: 0;
	padding: 0;
	margin: 24px 0;
	

}
	.nav_link {
		color:#858585;
		text-decoration: none;
		font-weight: bold;
		transition: color 0.3s ease;

	}
	.nav_link:visited {
		color:#858585;
		text-decoration: none;
		font-weight: bold;
	}
	.nav_link:hover {
		color: tomato;
	}
	.nav_current {
		color:#333333;
		
	}
	.nav_current:visited {
		color:#333333;
	}

	.nav_link_footer {
		color:#858585;
		text-decoration: none;
		
	}
	.nav_link_footer:visited {
		color:#858585;
		text-decoration: none;
	}
	
	#fav_dev_top_menu_btn {
		display: none;
		margin:auto 0;
		cursor: pointer;
    	background-color: #FFD93E;
    	padding: 10px 15px;
    	border-radius: 15px;
    	font-size: 0.75rem;
    	font-weight: bold;
    	border: 0;
    	background-image: url("assets/icon_filter_dropdown.svg");
    	background-repeat: no-repeat;
    	background-position: calc(100% - 15px) center
    	
    	}
    






@keyframes out {
 to { transform:scale(0); }
}
@keyframes out2 {
 0% { transform:translateX(0px);}
 100% { transform:translateX(800px); }
}
@keyframes in2 {
 0% { transform:translateX(-800px);}
 100% { transform:translateX(0px); }
}
@keyframes in {
 0% { transform:scale(0);}
 100% { transform:scale(1); }
}

.out_r {
	animation: out 170ms linear 1;

}
.in_r {
	
	animation: in 170ms linear 1;
	
}

.blurred {
	-webkit-filter: blur(4px);
    -ms-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    filter: blur(4px);
}

#modal {
	position: fixed;
	z-index: 1;
	left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
  	align-items: center;
  	justify-content: center;
  	background-color: rgba(50,50,50,0.6);
}

#modal_content {
	display: flex;
	flex-direction: column;
	position: relative;
	margin: auto;
	padding: 0;
	animation-name: animatetop;
	animation-duration: 220ms;
	width: 630px;
	font-size: 1.125rem;

}
#modal_main {
	background-color: #FFFFFF;
	border-radius: 20px;
	padding: 25px;
}
#modal_header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;

}
#modal_header_left {

}
#modal_header_right {
	display: flex;
	flex-direction: row;

}
#modal_btns_wrapper {
	display: flex;

	margin-top: 20px;

}
.modal_btns {
	border-radius: 20px;
	height: 60px;
	min-height: 60px;
	background-color: #FFFFFF;
	border: 0;
	flex-grow: 1;
	font-weight: bold;
	font-size: 1rem;

}
.modal_btns_marg_left {
	margin-left: 16px;
}

#bulb_slide_container {
	padding: 0;
	display: flex;
	flex-direction: column;
	display: none;
	position: relative;
}

#temp_slide_container {
	padding: 0;
	display: flex;
	flex-direction: column;
	display: none;
	position: relative;
}
.slider {
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 100%;
	outline: none;
	height: 60px;
	border-radius: 30px;
	position: relative;
	
}
#temp_range {
	background-image: linear-gradient(-90deg, #F76D1B, #F3D50C, #068EFF);;
}
#bulb_range {
	background-image: linear-gradient(-90deg, #FF9E00, #FFE682);
}
.slider::-moz-range-track {
	height: 0;
}

.range_label {
	position: absolute;
	
	font-weight: bold;
	font-size: 1rem;
	color: #F4FAFE;
	z-index: 1;
	pointer-events: none;
}
#temp_l {
	#top:calc(50% + 3px);
	bottom: 23px;
	margin-left: 24px; 

}
#temp_r{
	#top:calc(50% + 3px);
	bottom: 23px;
	right: 20px;
}
#light_l{
	margin-left: 18px; 
	background-image: url("assets/icon_sun_min.png");
	width: 36px;
	height: 36px;
	bottom: 15px;

}
#light_r{
	right: 13px;
	background-image: url("assets/icon_sun_max.png");
	width: 36px;
	height: 36px;
	bottom: 15px;
}


.slider::focus {
	outline: none;
}
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	background-color: transparent;	
	border: 4px solid #FFFFFF;
	width: 68px; 
	height: 68px; 
	box-shadow: inset 0 0 12px rgba(0,0,0,0.6);
	border-radius: 50%;
	cursor: pointer;

	
}
.slider::-moz-range-thumb {
	background-color: transparent;	
	border: 4px solid #FFFFFF;
	width: 68px; 
	height: 68px; 
	box-shadow: inset 0 0 12px rgba(0,0,0,0.6);
	border-radius: 50%;
	cursor: pointer;
}


/*ham start */
#header input {
	display: none;
}/*ham end */

@media (max-width: 450px) {
	#light_r {
		right:17px;
	}
	#temp_l {
		transform: rotate(90deg);
	}
	#temp_r {
		right:24px;
		transform: rotate(90deg);
	}
	#hot_temp_label {
		display: none;
	}
	#modal_header {
		margin-bottom: 7px;
	}
	#modal_content {
		overflow: hidden;
	}
	#bulb_slide_container{
		position: relative;

	}
	#range_sustainer {
		min-height: 335px;
		width: 335px;
		transform: rotate(270deg);
		display: flex;
		align-items: flex-end;
		position: relative;
		right:calc(295px - 50%);
	}
	.temp_bulb_radios {
		
		white-space: nowrap;
		padding:15px 0;
		margin-bottom: 0;
	}
	.modal_nam {
		font-size: 1rem;
		color: #333333;
	}
	#modal_status {
		color: #373737;
	}
	#modal_main {
		padding: 20px;

	}
	#modal_btns_wrapper {
		flex-direction: column;
		margin-top: 15px;
		margin-bottom: 40px;
		
	}
	.modal_btns_marg_left {
		margin-left: 0;
		margin-top: 15px;
	}
	#modal_header_right {
		display: none;
	}
	#modal_pic {
		display: none;
	}
	#modal_content {
		margin: 20px;
		height: calc(100% - 40px);
		width: calc(100% - 40px);
	}
	#main {
		overflow-x: hidden;
		position: relative;
		top:42px;
	}
	#header {/*ham start */
		border: 0;
		padding-bottom:11px;
		padding-top:11px;
		position: fixed;
		#background-color: transparent;
		width: 100%;
		z-index: 1;
		right: -7px;
		top: 0px;
	}
	#header input {
		display: block;
		cursor: pointer;
		z-index: 2;
		margin-right: 20px;
		margin-left: auto;
		-webkit-appearance: none;
		-moz-appearance: none;	
		background: url("assets/icon_list_m.png"); 
		width:16px; 
		height:14px; 
	}
	#menu {
		position: absolute;
		background: #FAFAFA;
		right: 20px;
		font-size: 1.25rem;
		z-index: 2;
		list-style-type: none;
		transform: translate(0, -300%);
		transition: transform 0.1s cubic-bezier(0.77,0.2,0.05,1.0);

	}
	#header ul li{
		display: block;
		margin-right: 0px;
	}
	#header ul li:hover {
		background-color: #FFD93E;
	}
	#header ul {
		width: auto;
		margin: 0;
		margin-left: auto;
		padding: 10px 0;
		border-radius: 10px;
	}
	#header input:checked ~ ul
	{
	  transform: none;
	}/*ham end */
	
	#section2_bottom {
		margin-top:0;
	}	
	#header {
		border: 0;
	}
	#first_h3 {
		display: none;
	}
	#fav_dev_top_menu_btn {
		display: block;
	}

	#fav_devices_top {
		justify-content: space-between;
	}
	#fav_dev_groups {
		position: absolute;
		background-color: #E7E6E2;
		border-radius: 20px;
		right: 0px;
		top:50px;

	}
	#fav_dev_groups label {
		margin-bottom: 2px;
		text-align: center;
		padding: 5px;
		margin-right: 0;
	}
	#fav_dev_groups label:last-child {
		margin-bottom: 0px;
	}
	.scenario_card {
		min-width: 200px;
		margin-right: 15px;
	}
	#fav_scenarios_wrapper {
		min-width: 335px;
		width: 100%;
		margin-left: 0px;
	}
	#fav_scen_inner_wrapper {
		height: 100px;
		overflow-y: hidden;
		width: calc(100% + 20px);
	}
	#fav_scenarios {
		display: flex;
		flex-direction: row;
		overflow-x: scroll;
		height: 117px;
	}
	#fav_scenarios .scenario_card:last-child {
		margin-right: 0;
	}

	#fav_dev_groups {
		flex-direction: column;
		display: none;
	}
	#fav_dev_top_menu {
		display: inline-block;
	}
	.scroll_control {
		display: none;
	}
	#section_top {
		display: flex;
		flex-direction: column;
	}
	#current_brief h3 {
		font-size: 1.11rem;
		margin-top: 1px;
	}
	#gen_status {
		font-size: 0.8rem;
		margin-bottom: 16px;
	}
	.column_head {
		font-size: 0.8rem;
	}
	.column_body {
		font-size: 1.47rem;
		
	}
	.weather_buff:after{
		content: url("assets/cloud-drizzle19.png");
	}
	#general {
		min-width: 290px;
		width: calc(100% - 40px);

		height: 242px;
		margin-left: 0;
		margin-right: 0;
		flex-direction: column;
	}
	#all_devices {
		flex-direction: row;
		height: 137px;

		width: 100%;
		overflow-y: hidden;

	}
	#all_devices_wrapper {
		height: 120px;
		
		margin-left: 0;
		margin-top:auto;
		
		width: calc(100% + 20px);

	}
	.dev_card {
		margin-bottom: 0;
	}
	#scroll_down_arr {
		display: none;
		visibility: hidden;
	}
	#footer {
		display: none;
	}
	
}


@keyframes animatetop {
    from {transform:translateY(-999px); opacity:0}
    to   {transform:translateY(0); opacity:1}
}
@keyframes animatetop1 {
    from {top:-700px; opacity:0}
    to {top:0; opacity:1}
}

.notouch {
	touch-action: none;
}


#floor_slide_container{
	width: 100%;
  	display: flex;
  	display: none;
  	justify-content: center;
  	position: relative;
}
#knobo {
	margin-top: auto;

}
#knob_caption{
	position: absolute;
	top:50%;
	left: 44%;
	pointer-events: none;
	font-size: 48px;
	font-weight:bold;
}

.thumbler {
	background-image: url("assets/background-knob@1x.png");
	background-position: 40px;
	background-repeat: no-repeat;
}


.thumbler text {
	font-size: 48px;
	font-weight:bold;
	#pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;
}



.thumbler path {
    stroke: none;
    
	stroke: #F8C56F;
	stroke-width: 20;

	stroke-dasharray: 1,2;
	#opacity: 0.6;
	
}

.thumbler path:first-child {
  fill: transparent;
  stroke: #858585;
  stroke-width: 20;
  
  stroke-dasharray: 1,2;

}

.thumbler circle {
	fill: red;
}
